<header class="main-header">

  <div class="logo-area">
   <img src="https://drive.google.com/thumbnail?id=1IY0MZYP_eVd5nMsMnxWQtZK8JT6nfDOd&sz=w1000" alt="โลโก้" class="logo-img">

    <div class="logo-text">
      <h1>แผนกวิชาคอมพิวเตอร์</h1>
      <span>วิทยาลัยเทคนิคบัวใหญ่</span>
    </div>
  </div>

  <nav>
    <ul>

      <li><a href="index.html">หน้าแรก</a></li>

      <li>
        <a href="#">ผลงาน ▾</a>
        <div class="dropdown">
          <a href="#">โครงงาน</a>
          <a href="activity.html">กิจกรรม</a>
          <a href="portfolio.html">รางวัล</a>
          <a href="ESPORT.html">ESPORT</a>
        </div>
      </li>


      <li>
        <a href="#">ระบบ ▾</a>
        <div class="dropdown">
          <a href="dashboard.html">แดชบอร์ด</a>
        </div>
      </li>

      <li>
        <a href="#">ติดต่อ ▾</a>
        <div class="dropdown">
          <a href="teacher.html">ติดต่อครู</a>
          <a href="map.html">แผนที่</a>
          <a href="#">ช่องทางออนไลน์</a>
          <a href="#">คำถามที่พบบ่อย</a>
        </div>
      </li>

    </ul>
  </nav>
</header>